*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  background: $color-contessa;
  color: $color-quarter-spanish-white;
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %description-18;

  font-family: $font-suisse-bp;
}

#root {
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.canvas__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: z('canvas');
  pointer-events: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

img {
  opacity: 0;
  transition: opacity 0.4s ease;
  vertical-align: middle;

  &.loaded {
    opacity: 1;
  }
}

[data-animation='label'],
[data-animation='paragraph'],
[data-animation='title'] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

[data-animation='button'] {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  span {
    display: inline-block;
    transform-origin: center center 0.5em;
    vertical-align: middle;
  }
}

[data-animation='link'] {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  span {
    display: inline-block;
    transform-origin: center center 0.5em;
    vertical-align: middle;
  }
}
